<div class="flex justify-center">
  {{#if primary}}
    <div class="card w-96 bg-primary card-md shadow-sm text-sky-100">
  {{else}}
    <div class="card w-96 bg-secondary card-md shadow-sm">
  {{/if}}
    <div class="card-body">
      {{#if cardDate}}
        <h3 class="font-semibold">{{cardDate}}</h3>
      {{/if}}
      <h2 class="card-title">{{title}}</h2>
      <p>
        {{content}}
      </p>
      {{#if buttonText}}
        <div class="justify-end card-actions">
          {{#if openNew}}
            {{#if primary}}
              <a href={{buttonLink}} target="_blank" class="btn btn-secondary">{{buttonText}}</a>
            {{else}}
              <a href={{buttonLink}} target="_blank" class="btn btn-primary">{{buttonText}}</a>
            {{/if}}
          {{else}}
            {{#if primary}}
              <a href={{buttonLink}} class="btn btn-secondary">{{buttonText}}</a>
            {{else}}
              <a href={{buttonLink}} class="btn btn-primary">{{buttonText}}</a>
            {{/if}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
