<div class="flex justify-center">
  <div class="card w-96 bg-secondary card-md shadow-sm">
    <div class="card-body">
      {{#if cardDate}}
        <h3 class="font-semibold">{{cardDate}}</h3>
      {{/if}}
      <h2 class="card-title">{{title}}</h2>
      <p>
        {{content}}
      </p>
      {{#if buttonText}}
        <div class="justify-end card-actions">
          {{#if openNew}}
            <a href={{buttonLink}} target="_blank" class="btn btn-primary">{{buttonText}}</a>
          {{else}}
            <a href={{buttonLink}} class="btn btn-primary">{{buttonText}}</a>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
